Proyecto_TFM/Supplementary_Files.zip
Proyecto_TFM/Supplementary_Files/Supplementary_Files/
Proyecto_TFM/Prueba/Procesado/
Proyecto_TFM/Prueba/Test/
Proyecto_TFM/Prueba/Train/
Proyecto_TFM/Prueba/Validation/
