Proyecto_TFM/Supplementary_Files.zip
Proyecto_TFM/Supplementary_Files/Supplementary_Files/
Proyecto_TFM/Prueba/Procesado/
Proyecto_TFM/Prueba/Test/
Proyecto_TFM/Prueba/Train/
Proyecto_TFM/Prueba/Validation/
Proyecto_TFM/Procesado/
Proyecto_TFM/DatosBase/

Proyecto_TFM/Prueba/CreacionYAML/
Proyecto_TFM/Prueba/DatosBase/
*.zip
*.avi
Proyecto_TFM/TestingModelos/Models/YoloV8Large_100Epochs/ModelInformation/detect/train/weights/best.torchscript
Proyecto_TFM/DataSetsCreation/MotileSpermDetectionDataset/BaseDataForCreateYAMLConfiguration/Test/Output_acA1920-155um__22949301__20210628_094625267/Images_Original/frame_0.jpg
Proyecto_TFM/Models/MotileDetection/Models/
Proyecto_TFM/Models/MotileDetection/PostBestModel/Results/

Proyecto_TFM/Models/HeadTailDetec/Models/
Proyecto_TFM/DSetsCreation/HeTaSet/YAMLBase/dataSet/Unlabel/
Proyecto_TFM/Models/HeadTailDetec/pseudolabelling/dataSet/
Proyecto_TFM/Models/HeadTailDetec/pseudolabelling/runs/
